public/xml/validar.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="compra">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="usuario">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="nome"/>
                            <xs:element type="xs:string" name="dataCompra"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="loja">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="nomeFantasia"/>
                            <xs:element type="xs:string" name="endereco"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="ativa"/>
        </xs:complexType>
    </xs:element>
</xs:schema>